$primary = #966e39;

// Colors used from https://www.w3schools.com/w3css/w3css_color_metro.asp.
$light-green = #99b433;
$green = #00a300;
$dark-green = #1e7145;
$magenta = #ff0097;
$light-purple = #9f00a7;
$purple = #7e3878;
$dark-purple = #603cba;
$teal = #00aba9;
$light-blue = #eff4ff;
$blue = #2d89ef;
$dark-blue = #2b5797;
$yellow = #ffc40d;
$strong-yellow = darken($yellow, 25%);
$orange = #e3a21a;
$dark-orange = #da532c;
$red = #ee1111;
$dark-red = #b91d47;

$cyan = #e3e8e6;
$cyan10 = darken($cyan, 10%);
$cyan20 = darken($cyan, 20%);
$cyan30 = darken($cyan, 30%);
$cyan40 = darken($cyan, 40%);
$cyan50 = darken($cyan, 50%);
$cyan60 = darken($cyan, 60%);
$cyan70 = darken($cyan, 70%);
$cyan80 = darken($cyan, 80%);
$cyan90 = darken($cyan, 90%);
$cyan100 = darken($cyan, 100%);

// Neutrals used from "https://developer.microsoft.com/en-us/fabric#/styles/web/colors/products" > "Skype" > (scroll down) "Default theme neutrals"
$white = #ffffff;
$black = #000000;
$gray20 = #f3f2f1;
$gray40 = #e1dfdd;
$gray60 = #c8c6c4;
$gray80 = #b3b0ad;
$gray100 = #979593;
$gray110 = #8a8886;
$gray130 = #605e5c;
$gray140 = #484644;
$gray180 = #252423;

$blue-gray = #f5f6fa; // light grayish blue background from colorhexa.com.
$blue-gray10 = darken($blue-gray, 10);
$blue-gray20 = darken($blue-gray, 20);
$blue-gray30 = darken($blue-gray, 30);

$text = #333;

$light-gray = #e8e8e9;

.blue-gradient {
  background-image: radial-gradient(
    ellipse at top left,
    $blue,
    $dark-blue
  );
}
