// This file should include font definitions, base font size and font stacks.

// ==================================================
// Base Font Size
// ==================================================
$base-font-size = 16px;


// ==================================================
// Font Stacks
// ==================================================
// Heading Font Stack
// $heading-font-stack = "Roboto", sans-serif;
// Sans-serif Fonts (wider fonts):
$sans-font-stack = "Open Sans", sans-serif;
// cursive Font Stack
$cursive-font-stack = "Kalam", cursive;
// Serif Fonts (wider fonts):
$serif-font-stack = "Roboto Slab", Georgia, serif;
// Monospace Fonts:
$mono-font-stack = "Source Code Pro", monospace;
